<% if @stores == [] %>
<h4>there are no stores</h4>
<% else %>

<h1>your stores</h1>
<ul>
  <% stores.each() do |s| %>
    <li><a href="/stores/<%= stores.id() %>"><%= store.name() %></a></li>
  <% end %>
</ul>
<% end %>

<h2>add stores</h2>
<form action="stores" method="post">
  <label for="name">Store:</label>
  <input type="text" name="name">
  <button type="submit" class="btn btn-default">Add Brand</button>
</form>
